h1{
color: #585757;
font-size: 48px;
font-family: sans-serif;
margin-left: 20px;
}

h2{
color: #585757;
font-size: 32px;
font-family: sans-serif;
margin-left: 20px;
}

h3{
color: #585757;
font-size: 26px;
font-family: sans-serif;
margin-left: 20px;
}

h4{
color: #585757;
font-size: 16px;
font-family: sans-serif;
margin-left: 20px;
margin-top: 20px;
}

p{
color: black;
    margin-left: 20px;
font-size: 16px;
font-family: sans-serif;
margin-left: 20px;
}

img{margin-left: 20px;}

a{
color: burlywood;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
background:
}

body{background: #FAEDE9;}
